{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Arcade
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
{% endblock %}

{% block content %}
        <div class="container">
                <h1 class="header"><b>Choose number of Questions</b></h1>
                <form action= 'gameboard'>
                        <input type="number" id="duration-field" name="duration" value="10" class="searchbox-gameselection"><b>Questions</b>
                        <input type="text" id="game-mode" name="mode" value="arcade" class="searchbox-gameselection" hidden>
                        <button class="btn-deleteaccount" type="submit" id="submit">Play!</button>
                        <button type="button" onclick="window.location.href = 'playgame'"  id="return" class="btn-deleteaccount">Back</button> 


                </form>
        </div> 
{% endblock %}