
<!DOCTYPE html>
<html>
  <head>
    <title>
Main Menu
</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{url_for('.static', filename='multiplayer.css')}}">
    <script defer src="{{url_for('static', filename='multiplayer.js')}}"></script>

  </head>
  <body>
    <div class="container">
    <h1 style="text-align: center;"><strong>Multiplayer Score</strong></h1>
    <button  onclick="window.location.href = 'playgame'" type="button" class="btn-return">Return to Main Menu</button>
    </div>

  </body>
</html>
