
<!DOCTYPE html>
<html>
  <head>
    <title>
      Multiplayer
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">


  </head>
  <body>
    <div class="container">
      <h1 class="header">Multiplayer</h1>
        <button onclick="window.location.href = 'joinlobby'" class="btn-leaderboard" type="submit">Join Lobby</button>
        <button onclick='multiplayerQuizInit()' class="btn-leaderboard" type="submit">Create Lobby</button>        
        <button  onclick="window.location.href = 'playgame'" type="button" class="btn-return">Back to menu</button>
    </div>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='jqueryLibrary.js')}}"></script>
    <script src="{{url_for('static', filename='deparam.js')}}"></script>
    <script src="{{url_for('static', filename='multiplayerHostGame.js')}}"></script>

  </body>
</html>

