
<!DOCTYPE html>
<html>
  <head>
    <title>
Quiz Score
</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/style.css">

  </head>
  <body>
    <!-- Might not be needed -->
    <div class="container">
    <h1 style="text-align: center;"><strong>Quiz Score</strong></h1>
    
   
        <div class="col-xs-3">
            <button  onclick="window.location.href = 'playgame'" type="button" class="btn btn-primary btn-lg" style="width: 100%; margin-top: 5%; margin-left: 300%;">Back</button>
        </div>
     </div>
    </div>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
