{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Create Quiz 
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">

{% endblock %}

{% block content %}
        <div class="container">
        <button class="btn" id = "cancel" onclick = "endGame()">Cancel Game</button>
        <h2 id = "title">Join this Game using the Game Pin: </h2>
        <h1 id = "gamePinText"></h1>
        <textarea style = "width: 700px; height: 500px;" readonly id = 'players'></textarea>
        <br>
        <button class="btn" id = 'start' onclick = "startGame()">Start Game</button>
        <br>
        <br>
        </div>
        <script src="{{url_for('static', filename='socket.io.js')}}"></script>
        <script src="{{url_for('static', filename='jqueryLibrary.js')}}"></script>
        <script src="{{url_for('static', filename='deparam.js')}}"></script>
        <script src="{{url_for('static', filename='host.js')}}"></script>

        {% endblock %}